<template>
  <ul v-if="log === 'logged'" class="nav-list">
    <li @click="logOut" class="nav-item">
      <nuxt-link to="/">Log Out</nuxt-link>
    </li>
  </ul>
  <ul v-else class="nav-list">
    <li class="nav-item"><nuxt-link to="/login">Log In</nuxt-link></li>
    <li class="nav-item"><nuxt-link to="/signup">Sign Up</nuxt-link></li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      log: "",
    };
  },
  methods: {
    logOut() {
      localStorage.removeItem("userLog");
      localStorage.removeItem("userId");
      window.location.href = '/'
    },
  },
  mounted() {
    localStorage.getItem("userLog") === "logged" ? (this.log = "logged") : null;
  },
};
</script>

<style scoped>
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-item {
  margin: 0 10px;
}
.nav-item a {
  text-decoration: none;
  color: #fefefe;
}
.nav-item a:hover,
.nav-item a:active {
  color: #b4b4b4;
}
@media (max-width: 767px) {
  .nav-list {
    display: block;
  }
  .nav-item {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}
</style>
