<template>
  <div>
    <div class="searchCont">
      <input
        class="search"
        v-model="search"
        type="text"
        placeholder="Search for a city"
      />
      <div>
        <button @click="searchWeather" class="submit" type="submit">
          Search
        </button>
        <button
          v-if="log === 'logged'"
          @click="addToFavourites"
          class="submit"
          type="submit"
        >
          Add To Favourites
        </button>
        <div class="seefavs">
          <button
            v-if="log === 'logged'"
            @click="seeFavourites"
            class="submit"
            type="submit"
          >
            See Your Favourites
          </button>
        </div>
      </div>
    </div>

    <div class="weatherCard">
      <h5>{{ weather.date }}</h5>
      <div>
        <h1 class="title">Tempeture</h1>
        <h3 class="city">{{ weather.city }} {{ weather.country }}</h3>
        <h2 class="weather">{{ weather.temp_c }}</h2>
        <div class="extremes">
          <p>Min: {{ weather.mintemp_c }}</p>
          <p>Max: {{ weather.maxtemp_c }}</p>
        </div>
      </div>
      <div>
        <div>
          <p>Sunrise: {{ weather.sunrise }}</p>
          <p>Sunset: {{ weather.sunset }}</p>
        </div>
        <div>
          <img :src="weather.icon" alt="" />
          <h4>{{ weather.iconText }}</h4>
        </div>
      </div>
    </div>
    <div v-if="favourites">
      <div class="weatherCard" v-for="fav in favs" v-bind:key="fav.name">
        <h5>{{ fav.date }}</h5>
        <div>
          <h1 class="title">Tempeture</h1>
          <h3 class="city">{{ fav.name }}</h3>
          <h2 class="weather">{{ fav.temp_c }}</h2>
          <div class="extremes">
            <p>Min: {{ fav.mintemp_c }}</p>
            <p>Max: {{ fav.maxtemp_c }}</p>
          </div>
        </div>
        <div>
          <div>
            <p>Sunrise: {{ fav.sunrise }}</p>
            <p>Sunset: {{ fav.sunset }}</p>
          </div>
          <div>
            <img :src="fav.icon" alt="" />
            <h4>{{ fav.iconText }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      // weather: "",
      favourites: false,
      favs: [],
      weather: {
        city: "",
        country: "",
        date: "",
        temp_c: "",
        icon: "",
        iconText: "",
        wind_kph: "",
        wind_dir: "",
        humidity: "",
        feels_c: "",
        mintemp_c: "",
        maxtemp_c: "",
        sunrise: "",
        sunset: "",
        log: "",
      },
    };
  },
  mounted() {
    localStorage.getItem("userLog") === "logged" ? (this.log = "logged") : null;
  },
  methods: {
    async searchWeather() {
      const response = await axios.get(
        `http://api.weatherapi.com/v1/forecast.json?key=70934df848b8437e903151823221907&q=${this.search}&days=7`
      );

      this.weather.city = response.data.location.name;
      this.weather.country = response.data.location.country;
      this.weather.date = response.data.location.localtime;
      this.weather.temp_c = `${response.data.current.temp_c}°`;
      this.weather.mintemp_c =
        response.data.forecast.forecastday[0].day.mintemp_c;
      this.weather.maxtemp_c =
        response.data.forecast.forecastday[0].day.maxtemp_c;
      this.weather.sunrise =
        response.data.forecast.forecastday[0].astro.sunrise;
      this.weather.sunset = response.data.forecast.forecastday[0].astro.sunset;
    },
    async addToFavourites() {
      const body = {
        userId: localStorage.getItem("userId"),
        favouriteCity: this.search,
      };
      await axios.post(`https://wally-app.onrender.com/favourites/new`, body);
    },
    async seeFavourites() {
      const body = {
        userId: localStorage.getItem("userId"),
      };
      await axios
        .post(`https://wally-app.onrender.com/favourites/all`, body)
        .then((res) => {
          this.favourites = true;
          res.data.map((e) => {
            axios
              .get(
                `http://api.weatherapi.com/v1/forecast.json?key=70934df848b8437e903151823221907&q=${e.favouriteCity}&days=7`
              )
              .then((res) => {
                this.favs.push({
                  name: `${e.favouriteCity} , ${res.data.location.country}`,
                  date: res.data.location.localtime,
                  temp_c: `${res.data.current.temp_c}°`,
                  mintemp_c:
                    res.data.forecast.forecastday[0].day.mintemp_c,
                  maxtemp_c:
                    res.data.forecast.forecastday[0].day.maxtemp_c,
                  sunrise: res.data.forecast.forecastday[0].astro.sunrise,
                  sunset: res.data.forecast.forecastday[0].astro.sunset,
                });
              });
          });
        })
        .then(console.log(this.favs, "FAVS"));
    },
  },
};
</script>

<style scoped>
.searchCont {
  display: flex;
  align-items: baseline;
}

.search {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  height: 30px;
}

.submit {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.seefavs {
  margin-top: 10px;
}

.submit:hover {
  background-color: darkturquoise;
}

.weatherCard {
  background-image: linear-gradient(90deg, #1b92ff, #5bb6ff);
  border-radius: 15px;
  text-transform: capitalize;
  width: 20%;
  color: white;
  margin: 10px;
  padding: 1rem !important;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  text-align: center;
}

.city {
  margin-bottom: 10px;
}

.weather {
  text-align: center;
  font-size: 30px;
}

.extremes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}
</style>
