<template>
  <div>
    <h1>Log in</h1>
    <UserAuth buttonText="LogIn" :submitForm="loginUser" />
    <h3 class="error" v-if="error">{{ errorMsj }}</h3>
  </div>
</template>

<script lang="ts">
import UserAuth from "../components/UserAuth.vue";
import axios from "axios";

export default {
  components: {
    UserAuth,
  },
  data() {
    return {
      error: false,
      errorMsj: "",
    };
  },
  methods: {
    async loginUser(loginInfo: any) {
      try {
        await axios
          .post("https://wally-app.onrender.com/login", loginInfo)
          .then((res) => {
            localStorage.setItem("userLog", res.data.logged);
            localStorage.setItem("userId", res.data.id);
            localStorage.getItem("userLog") === "logged" &&
              (window.location.href = "/");
          });
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>

<style scoped>
.error {
  margin: 10px;
}
</style>
