<template>
  <div>
    <h1>Register</h1>
    <UserAuth
      buttonText="Register"
      :submitForm="registerUser"
      :hasName="true"
    />
  </div>
</template>

<script lang="ts">
import UserAuth from "../components/UserAuth.vue";
import axios from "axios";

export default {
  components: {
    UserAuth,
  },
  methods: {
    async registerUser(signUpInfo: any) {
      await axios
        .get("https://wally-app.onrender.com/signup", signUpInfo)
        .then((res) => res.data);
    },
  },
};
</script>
